<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Parameters</title>
</head>
<body>
    <h1>Parameters</h1>
    <form  action="/parameters" method="post">
        {% for key, value in datas["items"] %}
        {{key}}: <input type="text" name="{{key}}" value="{{value}}"> <br><br>
        {% endfor %}
        [Update Interval]: <input type="text" name="_interval" value="{{datas.interval}}"> s <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>