arch:
  - arm64
os: linux
dist: xenial
language: sh
services:
  - docker
env:
  global:
    - DOCKER_CACHE_FILE=/home/travis/docker/cache.tar.gz
before_script:
   # Temporary workaround for https://github.com/bitcoin/bitcoin/issues/16368
   - for i in {1..4}; do echo "$(sleep 500)" ; done &
script:
  #- cd $TRAVIS_BUILD_DIR/docker/build/tensorflow && docker build -f Dockerfile.arm64v8 -t shareai/tensorflow:arm64v8_latest .
  #- cd $TRAVIS_BUILD_DIR/docker/build/od && docker build -f Dockerfile.arm64v8 -t shareai/od:arm64v8_latest .
  - cd $TRAVIS_BUILD_DIR/docker/build && docker-compose -f docker-compose-arm64v8.yml build
after_success:
  - docker login --username shareai --password $DOCKER_HUB_TOKEN
  - docker push shareai/tensorflow:arm64v8_latest
  #- docker push shareai/od:arm64v8_latest
  - cd $TRAVIS_BUILD_DIR/docker/build && docker-compose -f docker-compose-arm64v8.yml push
cache:
  directories:
    - /home/travis/docker/
before_install:
  - if [ -f ${DOCKER_CACHE_FILE} ]; then gunzip -c ${DOCKER_CACHE_FILE} | docker load; fi
before_cache:
  - if [[ ${TRAVIS_BRANCH} == "master" ]] && [[ ${TRAVIS_PULL_REQUEST} == "false" ]]; then docker save $(docker images -a -q) | gzip > ${DOCKER_CACHE_FILE}; fi
