arch:
  - arm64
os: linux
language: c
service: docker
script:
  #- cd $TRAVIS_BUILD_DIR/docker/build/tensorflow && docker build -f Dockerfile.arm64v8 -t shareai/tensorflow:arm64v8_latest .
  #- cd $TRAVIS_BUILD_DIR/docker/build/od && docker build -f Dockerfile.arm64v8 -t shareai/od:arm64v8_latest .
  - cd $TRAVIS_BUILD_DIR/docker/build && docker-compose -f docker-compose-arm64v8.yml build
after_success:
  - docker login --username shareai --password $DOCKER_HUB_TOKEN
  - docker push shareai/tensorflow:arm64v8_latest
  #- docker push shareai/od:arm64v8_latest
  - cd $TRAVIS_BUILD_DIR/docker/build && docker-compose -f docker-compose-arm64v8.yml push
cache:
  directories:
    - docker_images
before_install:
  - docker load -i docker_images/images.tar || true
before_cache:
  - mkdir docker_images || true
  - docker save -o docker_images/images.tar $(docker images -a -q)
